body{
    font-family: 'VT323', monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: white;
    color: black;
}

h1, h2, h3, span, p{
    margin: 0;
}

.title{
    display: flex;
    
    margin: 0 auto;
    width: fit-content;
    padding: 1rem 1.3rem;
    margin-top: 50px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    color: blue;
    font-size: 1.4rem;
}

.qualpeso{
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    margin: 50px auto;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.qualpeso > h2{
    font-size: 2rem;
    margin: 0 0 1rem 0;
}

.pesocompleto{
    display: flex;
    margin: 0 auto;
    width: 40%;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
}
.pesocompleto input{
    width: 50%;
    height: 1.5rem;

}

.qtdaguacompleto{
    display: flex;
    margin: 0 auto;
    width: 40%;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.quantidadeagua{
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    margin: 50px auto;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quantidadeagua > h2{
    font-size: 2rem;
    margin: 0 0 1rem 0;
}

.qtdaguacompleto input{
    width: 50%;
    height: 1.5rem;
}

.esconderdiv{
    display: none;
}

.mudarblocodiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 60%;
}

.mudarblocodiv button{
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-family: 'VT323', monospace;
    font-size: 1.2rem;
}

#calcularagua{
    display:block;
    background-color: white;
    color: rgb(26, 20, 37);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-family: 'VT323', monospace;
    font-size: 2rem;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 3rem;
}

body{
    
    position: relative;
}
.calcularemostrar{
    display: none;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 2rem;
    position: absolute;
    top: 50vh;
    left: 50%;
    transform:  translate(-50%, -70%);
    border: 2px solid black;
    border-radius: 8px;
    padding: 1.5rem;
    gap: 10px;
    text-align: center;

}

.calcularemostrar span{
    color: blue;
}

.escolha{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
}



.escolha button{
    border: 2px solid black;
    border-radius: 16px;
    padding: 0.5rem 1rem;
    font-family: 'VT323', monospace;
    
}

.controleml{
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    width: fit-content;
    padding: 2rem 3rem;
    border: 4px solid rgba(0, 0, 0, 0.6);
    border-radius: 20rem;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
}

.linha{
    width: 100%;
    height: 0.4rem;
    background-color: black;
}

.leftbaragua{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    position: absolute;
    z-index: 10;
    top: 50vh;
    left: 10px;
    transform: translate(0, -60%);
}

.barraesquerda{
    display: flex;
    height: 75vh;
    width: 1rem;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 10;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
}

.rightbardia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    top: 50vh;
    right: 10px;
    transform: translate(0, -60%);
}

.barradireita{
    display: flex;
    height: 75vh;
    width: 1rem;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 10;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
}

.progressoagua, .progressodia{
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    z-index: 2;
    transition: 1s linear all;
}

.progressoagua{
    background-color: blue;
    border-radius: 8px;
    
}

.progressodia{
    background-color: red;
    border-radius: 8px;
}


.copoeml{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10vh auto 2vh;
    width: 50vw;
    padding: 2rem 3rem;
    border: 4px solid rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
    background-color: rgb(255, 255, 255,0.5);

    /* position: fixed;
    left: 50%;
    top: 50vh;
    transform: translate(-50%, -50%); */
}

.copoeml input{
    margin-bottom: 0.8rem;
    /* mudar o estilo do range */
    -webkit-appearance: none;
    width: 100%;
    height: 1rem;
    border-radius: 8px;
    background: #78b2cc;
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    
}

#numeromlcopo{
    font-size: 2rem;
}

.selecionarcopo{
    border: 2px solid black;
    background-color: blue;
    border-radius: 50%;
    padding: 1rem 1rem;
    display: flex;
    margin-top: 1rem;
}

#adicionaragua{
    display: flex;
    position: fixed;
    left: 50%;
    bottom: 2rem;
    transform: translate(-50%, 0);
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 3rem;
    font-family:  'VT323', monospace;
    font-size: 2rem;
    text-transform: uppercase;
}


#listacoposmodal{
    display: none;
    grid:  repeat(2, 1fr) / repeat(3, 1fr);
    position: fixed;
    width: 50%;
    height: fit-content;
    justify-content: space-between;
    left: 50vw;
    transform: translate(-50%, 0%);
    gap: 10px;
    padding: 1rem;
    background-color: #78b2cc;
    border-radius: 8px;
    border: 2px solid black;
}

#listacoposmodal button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 50%;
    padding: 0.5rem 0.5rem;
    background-color: white;
    width: auto;
    height: auto;
}

#listacoposmodal button img{
    aspect-ratio: 1/1;
}

.mostralistacopos{
    display: grid;
}

#removeragua{
    display: flex;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    background-color: transparent;
    font-size: 1.5rem;
    font-family: 'VT323', monospace;
}

.fundo{
    position: fixed;
    z-index: -1;
    bottom: 0vh;
    left: -20%;
    transition: 1s linear all;
}

#onda3, #onda2, #onda1{
    display: flex;
    position: absolute;
    width: 200vw;
    overflow: hidden;
}

#onda3{
    z-index: -3;
    animation: ondafx1 2s ease-out infinite;
}

#onda2{
    z-index: -2;
    animation: ondafx2 2s linear infinite;
}

#onda1{
    z-index: -1;
    animation: ondafx3 2s linear infinite;
}

.completando{
    position: relative;
    bottom: -30vh;
    width: 200vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #218cad;
}

@keyframes ondafx1{
    0%{
        transform: translateX(-20%);
    }
    50%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(-20%);
    }
}

@keyframes ondafx2{
    0%{
        transform: translateX(-10%);
    }
    50%{
        transform: translateX(-30%);
    }
    100%{
        transform: translateX(-10%);
    }
}

@keyframes ondafx3{
    0%{
        transform: translateX(-30%);
    }
    50%{
        transform: translateX(-15%);
    }
    100%{
        transform: translateX(-30%);
    }
}